.app {
}

.container {
  max-width: 510px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.content {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}
.inner {
  min-height: 100vh;

  padding: 100px 0;
  box-sizing: border-box;
}
.inner > *:not(:last-child) {
  margin-bottom: var(--mb60);
}

.content-row {
  display: flex;
  justify-content: center;
  width: 100%;
}
.dynamic {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.dynamic > *:not(:last-child) {
  margin-bottom: 30px;
}

.row {
  display: flex;
}
.row > *:not(:last-child) {
  margin-right: 40px;
}
.info {
  display: flex;
  align-items: center;
}
.info > *:not(:last-child) {
  margin-right: 20px;
}
.text {
  line-height: 19px;
}
.dynamic .temperature {
  align-items: flex-start;
}
.temperature {
  display: flex;
  align-items: center;
}
.value {
  font-size: 24px;
  line-height: 29px;
}
.measure {
  margin-left: 2px;
}
.measure_12 {
  font-size: 12px;
  line-height: 15px;
}
.precipitation {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
}
.precipitation img {
  width: 100px;
  height: 100%;
  object-fit: cover;
  overflow-clip-margin: unset;
}

.spinnerBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 89px;
}
