.app {
}
.container {
  max-width: 510px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
.content {
  display: flex;

  min-height: 100vh;

  padding: 100px;
  box-sizing: border-box;
}

.content-row {
}
.logo {
  display: flex;
  align-items: center;
}
.logo p {
}

.input {
}
.label {
}
.textbox {
}
.select {
}
.select button {
}
.select select {
}
.option {
}

.row {
}
.info {
}
.text {
}
.temperature {
}
.value {
}
.measure {
}
.precipitation {
}

.onday {
}
.date {
}
.day {
}
.month {
}
.weather {
}
